<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdEwZjuLjwWiTzXBwZzI6QKjXHiL6BrH0</string>
	<key>GCM_SENDER_ID</key>
	<string>1073522099644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hydroponic</string>
	<key>PROJECT_ID</key>
	<string>hydroponic-monitoring-sandbox</string>
	<key>STORAGE_BUCKET</key>
	<string>hydroponic-monitoring-sandbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073522099644:ios:cfae0b578f7d6d479557b9</string>
	<key>DATABASE_URL</key>
	<string>https://hydroponic-monitoring-sandbox-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>